mongodb:
  resources: {}
  fullnameOverride: mongodb
  architecture: replicaset
  image:
    tag: "4.4"
  auth:
    rootPassword: changeme
    username: username
    password: changeme
    database: defaultdb
  replicaCount: 2
  discoverable:
    allow: true
fullnameOverride: mongodb
security:
  networkPolicy: 
    enabled: true
