# Default values for postgres.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

service:
  image:
    version: "inseefrlab/jupyter-datascience:py3.9.7-spark3.2.0"
    pullPolicy: IfNotPresent
    custom:
      enabled: false
      version: "inseefrlab/jupyter-datascience:py3.9.7-spark3.2.0"

spark:
  sparkui: false
  configMapName: ""
  default: true
  config:
    spark.master: k8s://https://kubernetes.default.svc:443
    spark.kubernetes.authenticate.driver.serviceAccountName: '{{ include "library-chart.fullname" . }}'                
    spark.kubernetes.driver.pod.name: '{{ include "library-chart.fullname" . }}-0'
    spark.kubernetes.namespace: '{{ .Release.Namespace }}'
    spark.dynamicAllocation.enabled: "true"
    spark.dynamicAllocation.initialExecutors: "1"
    spark.dynamicAllocation.minExecutors: "1"
    spark.dynamicAllocation.maxExecutors: "10"
    spark.dynamicAllocation.executorAllocationRatio: "1"
    spark.dynamicAllocation.shuffleTracking.enabled: "true"
    spark.kubernetes.container.image: '{{ ternary .Values.service.image.custom.version .Values.service.image.version .Values.service.image.custom.enabled }}'

init:
  standardInit: "https://git.lab.sspcloud.fr/innovation/plateforme-onyxia/services-ressources/-/raw/master/onyxia-init.sh"
  filename: "onyxia-init.sh"

discovery:
  hive: true

discoverable:
  allow: true

environment:
  s3: true

hive:
  configMapName: ""

coresite:
  configMapName: ""

s3:
  # Specifies whether a config map should be created
  enabled: true
  # The name of the configmap to use.
  # If not set and create is true, a name is generated using the fullname template
  configMapName: ""
  accessKeyId: ""
  endpoint: ""
  defaultRegion: ""
  secretAccessKey: ""
  sessionToken: ""


liveness:
  enabled : "true"

security:
  password: "changeme"
  networkPolicy: 
    enabled: false
    from: 
    - ipBlock:
        cidr: 10.233.103.0/32
    - ipBlock:
        cidr: 10.233.111.0/32
  allowlist:
    enabled: true
    ip: "0.0.0.0/0"

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

kubernetes:
  enable: true
  role: "edit"

readiness:
  enabled: "true"


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

networkPolicy:
  enabled: false

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

networking:
  type: ClusterIP
  clusterIP: None
  port: 10000
  sparkui:
    port: 4040

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

ingress:
  enabled: true
  tls: true
  annotations:
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hostname: chart-example.local
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}